body{
    background-color: #DDB24B
}
.box{
    background-color: #9B363D;
    max-width: 114;
    max-height: 1107px;
    color: #0365A7;
    font-size: 50px;
}
.container{
    background-color: #203E4C;
    color:#B1644E;
}
h1{
    color:#ECBA6B;

}
